### ---------------------------------------------------------------------------
###  $Id: example_mindG4.config 471 2012-01-16 14:36:52Z ryan $
###
###  Example configuration file for the mindG4 application.
### ---------------------------------------------------------------------------  


### JOB options ###########################################
JOB output_dst    S DDD/G4_out/pppXXX/pppXXX_NN.dst.root
JOB number_events I MMM

JOB random_seed I 13243NN

### GEOMETRY configuration parameters #####################

### Detector dimensions (in mm)
GEOMETRY width  D 14000.
GEOMETRY height D 14000.
GEOMETRY length D 62500.
GEOMETRY ear_width D 1230.3
GEOMETRY ear_height D 8118.3

### Calorimeter layers thicknesses (in mm)
GEOMETRY active_thickness  D 20.
GEOMETRY passive_thickness D 30.

### Active and passive materials (see documentation for values)
GEOMETRY active_material  S G4_POLYSTYRENE
GEOMETRY passive_material S G4_Fe

### Uncomment if you want to simulate TASD.
## Sets all volumes as sensitive detectors.
## Remember to use G4_POLYSTYRENE as passive_material as well!!.
# GEOMETRY TASD I 0

### number of active layers per piece. (number of gaps should be 1 greater!)
GEOMETRY num_active_layers I 1

### Air gaps between layers (in mm)
GEOMETRY gap1 D 1.
GEOMETRY gap2 D 1.
GEOMETRY gap3 D 1.
GEOMETRY gap4 D 1.

### MAgnetic field. Still uniform vector.(T)
## A single bit to turn the uinform field off in favour of a toroidal field
GEOMETRY isUniform I 0

# if uniform then [bx,by,bz]. if toroidal then [br,btheta,bphi]
GEOMETRY field DV 3
0.
1.
0.

# If we wish to use a field map then the identity of the field map
# must be entered here.
GEOMETRY FieldMap S /data/neutrino04/common_SW/MIND/mindG4/MIND_field_map_files-5_cm_grid/iron_field_halfplane_1.res
# GEOMETRY FieldMap S /data/neutrino04/common_SW/MIND/mindG4/MIND_field_map_files-5_cm_grid/iron_field_halfplane_2.res
# GEOMETRY FieldMap S /data/neutrino04/common_SW/MIND/mindG4/MIND_field_map_files-5_cm_grid/smoothing_test.res

GEOMETRY FieldScaling D FFF

### GENERATION configuration parameters ################### 

### Three generators, SINGLE_PARTICLE, NUANCE and GENIE, with different
### configuration parameters, are available. The first is chosen
### as default. Comment out the following lines if you want to
### use the latter.

GENERATION generator S GENIE

# GENERATION particle_name S mu+

### Particle energy will be sample between these two values (in GeV)
GENERATION energy_min    D 0.300
GENERATION energy_max    D 3.000

### Uncomment the following lines if you want to use the NUANCE
### event generator.
#
### NUANCE/GENIE data files for passive and active materials!! Set the filenames here!!

GENERATION active_material_data S DDD/genie_samples/pppXXX/ev0_nnn_jjj_1000060120[0.922582],1000010010[0.077418]_LLL.root
GENERATION passive_material_data S DDD/genie_samples/pppXXX/ev0_NN_jjj_1000260560_QQQ.root
#
### Vertex location (RANDOM, ACTIVE, PASSIVE, FIXED).
GENERATION vertex_location S RANDOM

# Vertex if FIXED requested.
#GENERATION fvert DV 3
#0.
#0.
#-18000
#


### PHYSICS configuration parameters ######################

### Production cut (in mm) for secondaries
PHYSICS production_cut D 30.
#
### Minimum Kinetic energy for a particle to be tracked (MeV).
PHYSICS minimum_kinEng D 100.






